.about {
    background-color: #8F867B;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 50px 10% 50px 10%;
}

.text {
    width: 60%;
}


.image {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 50px 0;
}

img {
    border-radius: 50%;
}