<div class="about" id="about">
    <div class="text">
        <div class="about-header">
            <h2>Hi, I'm Jordan!</h2>
        </div>
        <div class="about-text">
            <h3>I've done a little bit of everything from leasing to manufacturing to databases to program management,
                always focusing on the customer, trying to anticipate their needs and wants.
                Through MCC Code School, I've come to find my real
                passion which is designing and creating user-focused applications.</h3><br>
            <h3>I've also come to appreciate immensely the benefits of working on a team. Through my time in Code
                School, I learned something from my peers every day. Sometimes that things was, "This is not how the
                English language works." And they would be correct.</h3>
        </div>
    </div>
    <div class="image">
        <img src="assets/images/jordanclark.jpg">
    </div>
</div>