<div class="footer" id="contact">
  <section class="footer-header">
  <h2>CONTACT</h2>
  <div class="contact-text">
  <p>Let's chat! Reach me at the links below</p>
</div>
 </section>
 <div class="divider">
 <mat-divider></mat-divider>
</div>
   <div class="contact">
      <section class="addresses">
      <ul>
        <li><a href="https://trailblazer.me/id/jaclark7"
            target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i>https://trailblazer.me/id/jaclark7</a></li>
        <li><a href="https://trailblazer.me/id/jaclark7"
            target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i>jordanaclark20@gmail.com</a></li>
      </ul>
    </section>
    <section>
      <ul>
        <li><a href="https://trailblazer.me/id/jaclark7"
            target="_blank"><i class="fas fa-at" aria-hidden="true"></i>https://jordan-clark-personal-site.web.app/</a></li>
        <li><a href="https://trailblazer.me/id/jaclark7"
            target="_blank"><i class="fab fa-salesforce" aria-hidden="true"></i>https://trailblazer.me/id/jaclark7</a></li>
      </ul>
    </section>
  </div>
</div>