<div class="footer" id="contact">
  <section class="footer-header">
    <h2>CONTACT</h2>
    <div class="contact-text">
      <p>Let's chat! Reach me at the links below</p>
    </div>
  </section>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="contact">
    <section class="addresses">
      <ul>
        <li><a href="https://www.linkedin.com/in/jordan-a-clark-2033/" target="_blank"><i class="fab fa-linkedin"
              aria-hidden="true"></i>www.linkedin.com/in/jordan-a-clark-2033/</a></li>
        <li><a href="mailto:jordanaclark20@gmail.com" target="_blank"><i class="fas fa-envelope"
              aria-hidden="true"></i>jordanaclark20@gmail.com</a></li>
        <li><a href="https://github.com/jaclark756" target="_blank"><i
              class="fab fa-github"></i>github.com/jaclark756</a></li>
      </ul>
    </section>
    <section>
      <ul>
        <li><a href="https://jordan-clark-personal-site.web.app/" target="_blank"><i class="fas fa-at"
              aria-hidden="true"></i>jordan-clark-personal-site.web.app/</a></li>
        <li><a href="https://trailblazer.me/id/jaclark7" target="_blank"><i class="fab fa-salesforce"
              aria-hidden="true"></i>trailblazer.me/id/jaclark7</a></li>
      </ul>
    </section>
  </div>
  <div class="mobile-contact">
    <ul>
      <li><a href="https://www.linkedin.com/in/jordan-a-clark-2033/" target="_blank"><i class="fab fa-linkedin"
            aria-hidden="true"></i>www.linkedin.com/in/jordan-a-clark-2033/</a></li>
      <li><a href="mailto:jordanaclark20@gmail.com" target="_blank"><i class="fas fa-envelope"
            aria-hidden="true"></i>jordanaclark20@gmail.com</a></li>
      <li><a href="https://github.com/jaclark756" target="_blank"><i class="fab fa-github"></i>github.com/jaclark756</a>
      </li>
      <li><a href="https://jordan-clark-personal-site.web.app/" target="_blank"><i class="fas fa-at"
            aria-hidden="true"></i>jordan-clark-personal-site.web.app/</a></li>
      <li><a href="https://trailblazer.me/id/jaclark7" target="_blank"><i class="fab fa-salesforce"
            aria-hidden="true"></i>trailblazer.me/id/jaclark7</a></li>
    </ul>
  </div>
</div>