<div class="intro-text">
    <h2>Just a girl looking to write some cool code and hang out with some awesome people.</h2>
</div>
<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile><img src="assets/images/recime.PNG"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/catalog.PNG"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/styleguide.PNG"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/movies.PNG"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/husqr.PNG"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/personalsite.PNG"></mat-grid-tile>
    </mat-grid-list>
</div>

<!-- turn effect onclick for dialog -->
<!-- experience and education -->
<!-- variable size images -->
<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
