.intro-text {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 50px auto 50px auto;
  color: #5c5a58;
  position: relative;
  text-align: center;
}

.grid-container {
  max-width: 60%;
  margin: 120px auto 200px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

img {
  width: 350px;
}

.projects:hover {
  img {
    opacity: 0.2;
  }
  .title {
    opacity: 0.8;
    visibility: visible;
  }
}

.title {
  visibility: hidden;
  position: absolute;
}
