<div class="intro-text">
    <h2>ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat elementum porta. Nunc mollis rhoncus
        nulla
        id fermentum. Maecenas in rutrum felis. Maecenas quis sollicitudin augue, eu faucibus nisi. Phasellus leo
        turpis,
        scelerisque eu nulla non, imperdiet congue lorem. Praesent ultricies suscipit dolor. Cras aliquet tempor nulla
        ut
        tincidunt. Nunc.</h2>
</div>
<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/placeholder.jpg"></mat-grid-tile>
    </mat-grid-list>
</div>