.intro-text {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 50px auto 50px auto;
  color: #5c5a58;
  position: relative;
  text-align: center;
}

.grid-container {
  width: 75%;
  margin: 120px auto 200px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  margin: 0 30px 30px 0;
}

img {
  width: 350px;
}

.projects:hover {
  img {
    opacity: 0.2;
  }
  .title {
    opacity: 0.8;
    visibility: visible;
  }
}

.title {
  visibility: hidden;
  position: absolute;
}
