<div id="home">
    <div class="intro-text">
        <h2>People are going to make meaning out of their experience no matter what we do. People are going to take from
            our
            designs what they need from it in their experience. <br>~ Pamela Pavliscak</h2>
    </div>
    <div class="grid-container">
        <ng-container *ngFor="let project of projects">
            <div class="projects">
                <img src="{{project.imgUrl}}" (click)="openProject(project)">
                <h2 class="title">{{project.title}}</h2>
            </div>
        </ng-container>
    </div>
</div>