<div class="education" id="education">
<h1 class="education-title">Education</h1>
    <div class="education-cards">
        <mat-card class="education-card">
            <mat-card-header>
                <div mat-card-avatar class="mcc-logo"></div>
                <mat-card-title>Metropolitan Community College</mat-card-title>
                <mat-card-subtitle>MCC Code School</mat-card-subtitle>
                <mat-card-subtitle>September 2020 - March 2021</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="education-card">
            <mat-card-header>
                <div mat-card-avatar class="mcc-logo"></div>
                <mat-card-title>Metropolitan Community College</mat-card-title>
                <mat-card-subtitle>Versatilist Information Technology</mat-card-subtitle>
                <mat-card-subtitle><i>In Progress</i></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="education-card">
            <mat-card-header>
                <div mat-card-avatar class="uno-logo"></div>
                <mat-card-title>University of Nebraska Omaha</mat-card-title>
                <mat-card-subtitle>MBA, Business Technology Concentration</mat-card-subtitle>
                <mat-card-subtitle><i>In Progress</i></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="education-card">
            <mat-card-header>
                <div mat-card-avatar class="unl-logo"></div>
                <mat-card-title>University of Nebraska Lincoln</mat-card-title>
                <mat-card-subtitle>BS in Criminology and Criminal Justice</mat-card-subtitle>
                <mat-card-subtitle>2008-2012</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>