@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  background-color: #fff;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: #6d848f;
}

h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Oswald', sans-serif;
}
