html {
  background-color: #e8e4df;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  color: #6d848f;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
