<h2 mat-dialog-title>Project Title</h2>
<mat-dialog-content>
    <mat-divider></mat-divider>
   <p>brief description of the project</p>
    <div class="button-container">
        <a href="https://trailblazer.me/id/jaclark7"
            target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
            <mat-chip-list>
                <mat-chip>Angular</mat-chip>
                <mat-chip>HTML</mat-chip>
                <mat-chip>CSS</mat-chip>
                <mat-chip>TypeScript</mat-chip>
              </mat-chip-list>
    </div>
</mat-dialog-content>