<a href="{{project.url}}" target="_blank"><h2 mat-dialog-title>{{project?.title}}</h2></a>
<div class="repo">
<a href="{{project.repoUrl}}" target="_blank">Repository<i class="fas fa-external-link-square-alt" aria-hidden="true"></i></a>
</div>
<mat-dialog-content>
    <mat-divider></mat-divider>
   <p>{{project?.description}}</p>
    <div class="button-container">
              <mat-chip-list *ngFor="let framework of project.frameworks">
                  <mat-chip></mat-chip>
                             </mat-chip-list>
    </div>
</mat-dialog-content>

402-559-9040