.experience {
  width: 80%;
  display: inline-flex;
  justify-content: start;
  margin: 0 !important;
}

.competencies {
  margin-left: 20px;
  margin-top: 0;
  width: 20%;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

.card-container {
    display: grid;
    width: 100%;
    grid-template-columns: 80%;
    row-gap: 15px;
    justify-items:end;
    justify-content: end;
    margin: 0 20px 50px 0;
   }

::ng-deep .mat-card {
    max-width: 100%;
    background-color: #8F867B;
    margin: auto;
  }

  ::ng-deep .mat-card-footer {
      text-align: right;
  }

  img {
    max-height: 50px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
  }
