<h1>Experience</h1>
<div class="card-container">
    <mat-card class="experience-card">
        <mat-card-title>Metropolitan Community College</mat-card-title>
        <mat-card-subtitle>Navigator</mat-card-subtitle>
        <mat-card-content>Program manager for Facebook Digital Marketing Certificate Program with four successful
            cohorts.
            Systems administrator for Canvas LMS, Salesforce Sales Cloud, Pardot, Canvas Catalog, responsible for setup
            and
            implementation, end user training, and troubleshooting. Coordinate with college departments to ensure
            student
            and employee success. Create engaging marketing campaigns to promote products and services.
        </mat-card-content>
        <mat-card-footer><img src="assets/images/mlogo.png"></mat-card-footer>
    </mat-card>
    <mat-card class="experience-card">
        <mat-card-title>Metropolitan Community College</mat-card-title>
        <mat-card-subtitle>Corporate Trainer</mat-card-subtitle>
        <mat-card-content>Provide professional workforce training on administrative technologies, including Cisco,
            Microsoft Products, and digitizing work. Design and create interactive learning artifacts to promote
            learning and retention.
        </mat-card-content>
        <mat-card-footer><img src="assets/images/mlogo.png"></mat-card-footer>
    </mat-card>
    <mat-card class="experience-card">
        <mat-card-title>Metropolitan Community College</mat-card-title>
        <mat-card-subtitle>Resource and Data Specialist</mat-card-subtitle>
        <mat-card-content>Update and maintain student information in state database and student information system.
            Provide wrap around support for incarcerated and recently released individuals, including housing,
            transportation, and employment. Design, create, and
            implement internal database for reporting. Ad hoc reporting on student information. </mat-card-content>
        <mat-card-footer><img src="assets/images/mlogo.png"></mat-card-footer>
    </mat-card>
    <mat-card class="experience-card">
        <mat-card-title>University of Nebraska Omaha</mat-card-title>
        <mat-card-subtitle>Data Coordinator</mat-card-subtitle>
        <mat-card-content>Create database schmena and build database management system to scale. Trained grantees and
            funders, as well as provide ongoing technical support.</mat-card-content>
        <mat-card-footer><img src="assets/images/uno.png"></mat-card-footer>
    </mat-card>
</div>